<!DOCTYPE html>

<html>

<head>
    <style>
        body {
            background-color: #131313;
            color: #dfdfdf;
        }
    </style>
    <script type="text/javascript">
        // set the Pyodide files URL (packages.json, pyodide.asm.data etc)
        window.languagePluginUrl = 'https://cdn.jsdelivr.net/pyodide/v0.17.0a2/full/';
    </script>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.17.0a2/full/pyodide.js"></script>
    <script type="application/javascript">
        languagePluginLoader.then(function () {
            fetch("{{ url_for('static',filename='index.py') }}")
            .then(response => response.text()
            .then(function(textResponse) {
                pyodide.runPython(textResponse)
            }))
        });
    </script>
</head>

<body>
<canvas id="can" width="800" height="800">

</canvas>
</body>

</html>